@import url(https://fonts.googleapis.com/css?family=Tangerine);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

html{
    display: grid;
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    height: auto;
    background-color: #3c4055;
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    padding: 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li{
    float: left;
}

li a:hover{
  background-color: #40a246;
  color: #fff;
  text-decoration: none;
  
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

a{
  list-style: none;
}

/* DROPDWON */
.dropbtn {
  background-color: #3c4055;
  color: white;
  padding: 16px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3c4055;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {background-color: #40a246;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #40a246;}

/* DROPDWON */


/* REDESOCIAL */

.wrapper{
  display: inline-flex;
}

.wrapper .icon{
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon span{
  position: relative;
  height: 60px;
  width: 60px;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}



.wrapper .icon span i{
  font-size: 25px;
  line-height: 60px;
}

.wrapper .icon:hover span{
  color: #fff;
}

.wrapper .icon .tooltip{
  position: absolute;
  top: 0px;
  background: #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
  top: 90%;
  opacity: 1;
  pointer-events: auto;  
}

.wrapper .icon .tooltip::before{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: #fff;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4) ;
} 

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #f381d4;

}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background: #3b5999;

}
.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip:before{
  background: #57cc59;

}

/* REDESOCIAL */



/* RODAPE */

footer {
  background-color: #3c4055;
  color: #fff;
  margin-top: 120px;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content .logo {
  width: 150px;
  height: auto;
  margin-right: 20px;
  margin: 10px;
}

.contact-info {
  text-align: left;
  flex: 1;
}

.contact-info p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.footer-links {
  margin-top: 10px;
  margin-right: 30%;
  margin-left: 10%;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 10px;
  font-size: 14px;
}

/* RODAPE */

iframe{
  text-align: center;
  height: 600px;
  width: 100%;
}

p:hover{
  color:#40a246;

}

.sec{
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.cont{
  margin: 50px;
  padding: 0;
  box-sizing:  border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background-color: #1d1d2e;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}

.cont h2{
  color: #f5f5f5;
  font-size: 2.5rem;
  margin: 2rem;

}

.cont form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cont label{
  color: #f5f5f5;
  font-size: 17px;
  margin-bottom: 4px;
}

.cont input{
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}

.cont input:focus{
  border-radius: 16px;
}

.cont textarea{
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.cont textarea:focus{
  border-radius: 16px;
}

.cont button{
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  transition: all 0.8s;
  margin-bottom: 20px;
}

.cont button:hover{
  background: #40a246;
  color: #fff;
  border-radius: 16px;
}

/** Pagina do OBG **/

.main_obg{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  background: #101026;
  flex-direction: column;
}

.main_obg .text_obg{
  font-size: 45px;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.main_obg .p_obg{
  color: #f5f5f5;
  font-size: 20px;
  margin-bottom: 50px;
}

.main_obg .btn_obg{
  padding: 15px 55px;
  background: #f5f5f5;
  text-decoration: none;
  color: #101026;
  font-size: 18px;
  transition: all 0.5s;
}

.main_obg .btn_obg:hover{
  border-radius: 16px;
  background: #40a246;
  color: #fff;
}

.construcao{
  display: flex;
  justify-content: center;
}